<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LinkwebEntities" connectionString="metadata=res://*/Entities.DatabaseModel.csdl|res://*/Entities.DatabaseModel.ssdl|res://*/Entities.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\Projectsv12;initial catalog=Linkweb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>